body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



#container { 
  display: grid;
  grid-template-columns: 1fr 1fr;
}



header {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: rgb(201, 0, 252);
  height: 10rem;
}
main {
  background-color: aquamarine;
  height: 10rem;
}
aside {
  background-color: green;
  height: 10rem;
}
footer {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: pink;
  height: 10rem;

}


/*LEGENDA:


Propriedades de Container:
 display: grid;"essa propriedade ativa e inicia o grid
 grid-template-columns: ; "essa propriedade fatia colunas" 
 grid-template-rows: ; essa propriedade especifica quantidade e as alturas (height) das fileiras (rows) 
 grid-gap ele faz espaçamento na linha horizontal 
 grid-column-gap espaçamento na linha vertical 
 grid-template-areas; delimita áreas.


 ITEM: 

 grid-column
 grid-column-start
 grid-column-end
 grid-row
 grid-row-start 
 grid-row-end
 grid-area 