body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#ham {
  background-color: black;
  font-size: 3rem;
  text-align: center;
}
#ham a {
  margin-bottom: 2rem;
  color: #ffff;
  display: inline-block;
  margin-right: 7rem;
  font-size: 23px;
  text-decoration: none;
}

#barraPesquisa {
  text-align: center;
}
#barraPesquisa input {
  background-color: white;
}
#barraPesquisa a {
  text-decoration: none;
  color: black;
  padding: 3rem;
}
#categorias {
  text-align: center;
}

#categorias a {
  line-height: 5rem;
  padding: 1rem;
  text-decoration: none;
  color: black;
}

footer{
    background-color: black;
    bottom: 0;
    width: 100%;
    padding: 10px;
    border: 0;
}

#container{
    display: grid;
}
